/* Navbar */

.navbar {
    .navbar-collapse{
        @include media-breakpoint-down(lg){
            margin-left: 0px !important;
        }
    }
    .navbar-brand img {
        height: 30px;
    }
    .navbar-collapse {
        position: relative;
        z-index: 10;
        @include media-breakpoint-down(lg) {
            margin-left: -20px;
            background: $background-color !important;
        }
    }
    .nav-item {
        font-size: $spacer * 0.875 !important;
        input {
            font-size: $spacer * 0.875 !important;
            border-radius: 7px !important;
            padding-left: 32px;
        }
        .search {
            .search-icon {
                left: 5px;
                top: 20%;
            }
        }
        .nav-link {
            color: $secondary !important;
            @include transition;
            &:hover,
            &.active {
                font-weight: 500;
                color: $primary !important;
            }
        }
    }
}
