.projects {
    .project-card {
        background: #fcfcfc;
        .project-image {
            overflow: hidden;
            cursor: pointer;
            @include transition;
            &:hover {
                border-radius: 0px;
                img.image {
                    transform: scale(1.05);
                }
                .overlay {
                    display: flex;
                }
            }
            img.image {
                height: calc(calc(calc(100% - 300px) * 9) / 16) !important;
                border-radius: 5px 5px 0 0;
            }
            .overlay {
                background: rgba($color: #000000, $alpha: 0.5);
                display: none;
                @include transition;
            }
        }
    }
}
