/* Global Styles */

a {
    text-decoration: none !important;
}
body,
html {
    height: 100%;
    overflow-x: hidden;
    color: $white;
}

body {
    background: $body-background;
    background-repeat: no-repeat;
}

.navbar-toggler,
.btn {
    &:active,
    &:focus {
        box-shadow: none !important;
    }
}

@mixin transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    @include center;
}

.text-sm {
    font-size: $spacer * 0.8 !important;
}
.text-xs {
    font-size: $spacer * 0.7 !important;
}
.text-xxs {
    font-size: $spacer * 0.6 !important;
}

.form-label {
    font-weight: bold;
    color: $nav-item-color;
}

.d-lg-initial.suggested {
    @include media-breakpoint-up(lg) {
        display: unset !important;
    }
}
